<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Courses - Learn Anything, On Your Schedule | Udemy</title>
    <link rel="icon" href="https://www.udemy.com/staticx/udemy/images/v8/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/41129917e5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='/js/courses.js'></script>
    <script src="/js/pagination.js"></script>>
</head>

<body onclick="hide()" onload = "senddata(`<%=JSON.stringify(author)%>`,`<%=totalPages%>`,`<%=page%>`)">
    
    <%- include('./components/header') %>
        <div class="w-11/12 m-auto">
            <h1 class="font-bold lg:text-4xl text-2xl my-4">10,000 results for “javascript”</h1>
            <h2 class="text-xl font-bold">Explore <span class="text-blue-800">JavaScript courses</span></h2>
            <h2 class="lg:text-xl text-sm  font-semibold my-2">Students also learn <span class="text-blue-800">Web
                    Development Node.Js React MongoDB CSS HTML</span></h2>
        </div>

        <div class="w-11/12 h-20 m-auto border-2">
            <div class="lg:w-8/12 w-full my-4 mx-2">
                <span class="mx-0 lg:text-xl text-sm"><i class="fas fa-exclamation-circle mx-2"></i>Not sure? All
                    courses have a 30-day money-back guarantee</span>
            </div>
        </div>
        <div class="w-full mx-6">
            <div class="lg:w-3/12 sm:ml-10 flex justify-evenly">
                <div class="my-5 w-1/4 border-2 border-black hover:bg-gray-100">
                    <span><span class="material-icons mx-2">filter_list</span>Filter</span>
                </div>
                <div class="my-5 mx-5 w-32 border-2 border-black py-1 px-1 hover:bg-gray-100" onclick="show()">
                    <button>Sort by <br>
                        Most Relevent</button>
                </div>
                <div class="lg:w-36 w-36 hidden lg:ml-28 mt-20 ml-40 absolute z-50 bg-white cursor-pointer"
                    id="sortFun">
                    <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer">Most Relevent</div>
                    <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer" onclick = 'window.location.href = `/search/sort/${1}`'>
                        Price
                        L-H</div>
                    <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer" onclick = 'window.location.href = `/search/sort/${2}`'>
                        Price
                        H-L</div>
                    <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer" onclick = 'window.location.href = `/search/sort/${3}`'>
                        Highest rated</div>
                    <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer" onclick = 'window.location.href = `/search/sort/${4}`'>
                        Lowest
                        rated</div>
                </div>
            </div>


            <div class="w-11/12 ml-8 flex">
                <div class="w-3/12 lg:block hidden p-2 mr-4 cursor-pointer">
                    <div onclick="showDiv()" class="font-bold mt-4 flex justify-between cursor-pointer">
                        <div  class="cursor-pointer">Topic</div>
                        <div  class="cursor-pointer"><span class="material-icons mr-6 font-bold">expand_more</span></div>
                    </div>

                    <div id="listOfCourses" class="mt-2 border-t-2 cursor-pointer" style="display: none;">
                        <ul>
                            <input type="checkbox" id="videod">
                            <label><a onclick = 'clearOldDiv("javascript")'>JAVASCRIPT</a></label><br>
                            <input type="checkbox" id="videod">
                            <label><a onclick = 'clearOldDiv("python")'>PYTHON</a></label><br>
                            <input type="checkbox" id="videod">
                            <label><a href="/search/topic/css">CSS</a></label><br>
                            <input type="checkbox" id="videod">
                            <label><a href="/search/topic/php">PHP</a></label><br>
                            <input type="checkbox" id="videod">
                            <label><a href="/search/topic/html">HTML</a></label><br>
                            <input type="checkbox" id="videod">
                            <label><a href="/search/topic/node">NODE</a></label><br>
                        </ul>
                    </div>
                    <div onclick="showDiv1()" class="font-bold mt-4 flex justify-between">
                        <div  class="cursor-pointer">Language</div>
                        <div  class="cursor-pointer"><span class="material-icons mr-6 font-bold">expand_more</span></div>
                    </div>
                    <div id="listOfCourses1" class="mt-2 border-t-2 cursor-pointer" style="display: none;">
                        <ul>
                            <input type="checkbox" id="videod">
                            <label>English</label><br>
                            <input type="checkbox" id="videod">
                            <label>Espanol</label><br>
                            <input type="checkbox" id="videod">
                            <label>Prtugues</label><br>
                            <input type="checkbox" id="videod">
                            <label>Turkce</label><br>
                            <input type="checkbox" id="videod">
                            <label>Francais</label><br>
                            <input type="checkbox" id="videod">
                            <label>Italino</label><br>
                        </ul>
                    </div>
                    <div onclick="showDiv2()" class="font-bold mt-4 flex justify-between">
                        <div  class="cursor-pointer">Price</div>
                        <div  class="cursor-pointer"><span class="material-icons mr-6 font-bold">expand_more</span></div>
                    </div>
                    <div id="listOfCourses2" class="mt-2 border-t-2 cursor-pointer" style="display: none;">
                        <ul>
                            <input type="checkbox" id="videod">
                            <label>Paid</label><br>
                            <input type="checkbox" id="videod">
                            <label>Free</label><br>

                        </ul>
                    </div>
                    <div onclick="showDiv3()" class="font-bold mt-4 flex justify-between">
                        <div  class="cursor-pointer">Features</div>
                        <div  class="cursor-pointer"><span class="material-icons mr-6 font-bold">expand_more</span></div>
                    </div>
                    <div id="listOfCourses3" class="mt-2 border-t-2 cursor-pointer" style="display: none;">
                        <ul>
                            <input type="checkbox" id="videod">
                            <label>Subtitles</label><br>
                            <input type="checkbox" id="videod">
                            <label>Quizzes</label><br>
                            <input type="checkbox" id="videod">
                            <label>Coding Exercises</label><br>
                            <input type="checkbox" id="videod">
                            <label>Practice Tests</label><br>
                        </ul>
                    </div>

                    <div onclick="showDiv4()" class="font-bold mt-4 flex justify-between">
                        <div  class="cursor-pointer">Ratings</div>
                        <div  class="cursor-pointer"><span class="material-icons mr-6 font-bold">expand_more</span></div>
                    </div>
                    <div id="listOfCourses4" class="mt-2 border-t-2 cursor-pointer" style="display: none;">
                        <ul>
                            <input type="checkbox" id="videod">
                            <label>⭐⭐⭐⭐⭐ 4.5 & up (222)</label><br>
                            <input type="checkbox" id="videod">
                            <label>⭐⭐⭐⭐ 4.0 & up (455)</label><br>
                            <input type="checkbox" id="videod">
                            <label>⭐⭐⭐⭐ 3.5 & up (556)</label><br>
                            <input type="checkbox" id="videod">
                            <label>⭐⭐⭐ 3.0 & up (579)</label><br>

                        </ul>
                    </div>

                    <div onclick="showDiv5()" class="font-bold mt-4 flex justify-between">
                        <div class="cursor-pointer">Video Duration</div>
                        <div class="cursor-pointer"><span class="material-icons mr-6 font-bold">expand_more</span></div>
                    </div>
                    <div id="listOfCourses5" class="mt-2 border-t-2 cursor-pointer" style="display: none;">
                        <ul><input type="checkbox" id="videod">
                            <label>0-1 Hour (1,223)</label><br>
                            <input type="checkbox" id="videod">
                            <label>1-3 Hour (3,666)</label><br>
                            <input type="checkbox" id="videod">
                            <label>3-6 Hour (2,628)</label><br>
                            <input type="checkbox" id="videod">
                            <label>6-17 Hour (2,973)</label><br>

                        </ul>
                    </div>

                    <div onclick="showDiv6()" class="font-bold mt-4 flex justify-between">
                        <div  class="cursor-pointer">Subtitles</div>
                        <div  class="cursor-pointer"><span class="material-icons mr-6 font-bold">expand_more</span></div>
                    </div>
                    <div id="listOfCourses6" class="mt-2 border-t-2 cursor-pointer " style="display: none;">
                        <ul>
                            <input type="checkbox" id="videod">
                            <label>English</label><br>
                            <input type="checkbox" id="videod">
                            <label>Espanol</label><br>
                            <input type="checkbox" id="videod">
                            <label>Prtugues</label><br>
                            <input type="checkbox" id="videod">
                            <label>Turkce</label><br>
                            <input type="checkbox" id="videod">
                            <label>Francais</label><br>
                            <input type="checkbox" id="videod">
                            <label>Italino</label><br>

                        </ul>
                    </div>
                    

                </div>
                <div class="lg:w-9/12 w-full" id="clearDiv" onloadstart="clearOldDiv()">
                        <% author.forEach(course=>{ %>
                            <a href="desc/<%= course._id %>"> <span onclick = 'window.location.href = `/search/desc/course._id `'>
                                <div class="flex my-4" onclick="clickcourseName('<%= JSON.stringify(course) %>')">
                                    <div class="w-1/3"><img class="w-full" src="<%= course.image %>"
                                            alt="<%course.name%>"></div>
                                    <div class="w-3/4 mx-4 lg:text-base text-xs">
                                        <p class="font-bold">
                                            <%= course.name %>
                                        </p>
                                        <p>
                                            <%= course.title %>
                                        </p>
                                        <p class="font-light text-gray-800 text-sm">
                                            <%= course.author %>
                                        </p>
                                        <p class="font-bold text-sm text-yellow-700 ">
                                            <%= course.rating %> <span class="font-light text-sm">⭐⭐⭐⭐⭐(12564)</span>
                                        </p>
                                        <p class="font-light text-gray-800 text-sm">69 total hours ◦ 319 lectures ◦ all levels</p>
                                        <p class="inline-block bg-yellow-300 text-sm px-2 mt-2">Bestseller</p>
                                    </div>
                                    <div class="w-1/5 lg:text-base text-xs">
                                        <p>
                                            $ <%= course.price %> /-
                                        </p>
                                        <p class="line-through">
                                            $ 4999 /-
                                        </p>
                                    </div>

                                    <!-- <p><a href="course/<%= course._id %>">Click Here</a></p> -->
                                </div>
                            </span>
                            </a>
                            <hr>

                            <% }) %>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-8/12 m-auto mt-8">
            <div class="w-4/12 m-auto" onload = "senddata(`<%=JSON.stringify(author)%>`,`<%=totalPages%>`)" id="pagination">
                 <!-- <a href="#" class="text-2xl px-4 py-2 hover:bg-gray-600 rounded">❮</a>
                <a href="#" class="text-2xl px-4 py-2 hover:bg-gray-600 rounded">1</a>
                <a href="#" class="text-2xl px-4 py-2 hover:bg-gray-600 rounded">2</a>
                <a href="#" class="text-2xl px-4 py-2 hover:bg-gray-600 rounded">3</a>
                <a href="#" class="text-2xl px-4 py-2 hover:bg-gray-600 rounded">4</a>
                <a href="#" class="text-2xl px-4 py-2 hover:bg-gray-600 rounded">❯</a> -->
            </div>
        </div>

        <div class='carousel relative p-4'></div>

        <%- include('./components/footer') %>
</body>

</html>
<script src='/js/navbar.js'></script>
<script src='/js/courses.js'></script>


<!-- http://localhost:2345/udemy -->

<script>

    // function sortFun(){
    //     let sortFun = document.getElementById("sortFun");
    //     sortFun.setAttribute("class","block");
    // }

    function clearOldDiv(query){
        console.log("clearOldDiv func is running with query:", query);
        document.getElementById("clearDiv").innerHTML = "";
        window.location.href = `/search/topic/${query}`
    }
</script>